body {
  margin: 0;
  line-height: normal;
}
.subscribe-h3 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 700;
  font-family: var(--body-large-regular);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.button,
.form-input {
  position: absolute;
  left: 0;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 12px;
  background-color: var(--color-gold);
  top: 136px;
  width: 296px;
  justify-content: center;
}
.form-input {
  border: 1px solid var(--text-disable);
  background-color: var(--background-white1);
  height: 65.28%;
  width: 100%;
  top: 34.03%;
  right: 0;
  bottom: 0.69%;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-md);
  justify-content: flex-start;
}
.tu-email-h3 {
  margin: 0;
  position: absolute;
  height: 36.11%;
  width: 20.61%;
  top: -16.67%;
  right: 79.39%;
  bottom: 80.56%;
  left: 0;
  font-size: inherit;
  line-height: 25.2px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.forms-div {
  position: absolute;
  top: 48px;
  left: 0;
  width: 296px;
  height: 72px;
}
.suscribite-a-las-noticias {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  line-height: 22.4px;
  font-weight: 700;
  font-family: inherit;
  color: var(--background-white1);
  display: inline-block;
}
.newsletter-div {
  position: relative;
  width: 100%;
  height: 184px;
  text-align: left;
  font-size: var(--body-normal-regular-size);
  color: var(--text-body);
  font-family: var(--body-large-regular);
}
